<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width, device-width, initial-scale=1 />
				<title><%= title %></title>
				<script src="/dist/js/jquery.min.js"></script>
				<script src="/dist/js/bootstrap.min.js"></script>
				<link rel="stylesheet" href="/dist/css/bootstrap.min.css" media ="all">
</head>
<body>
				<nav class="navbar navbar-expand-md navbar-dark bg-dark">
								<a href="/users" class="navbar-brand">Profiler</a>
								<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu">
												<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="menu">
												<ul class="navbar-nav nav-pills ml-auto">
																<li class="nav-item">
																				<a href="/users/register" class="nav-link">Sigup</a>
																</li>
																<li class="nav-item">
																				<a href="/users/login" class="nav-link">Login</a>
																</li>
																<li class="nav-item">
																				<a href="/users/logout" class="nav-link">Logout</a>
																</li>
												</ul>
								</div>
				</nav>
				<div class="container text-center">
								<% errors.forEach(function(error){ %>
												<div class="alert alert-danger close">
																<%= error %>
												</div>
							<%	}) %>
				</div>
<div class="container text-center">
								<% infos.forEach(function(info){ %>
												<div class="alert alert-info close">
																<%= info %>
												</div>
							<%	}) %>
				</div>
